<div class="bg-dark containerCss px-3">
  <small class="pull-left text-white">Stories</small>
  <small class="pull-right text-white">Watch All <i class="ml-1 fa fa-caret-right"></i></small>
</div>

<div class="bg-dark storiesCss px-2">
  <div class="row-fluid">
    <div class="">
      <div class="cover-container">
        <!-- START PANEL -->
        <div class="cover-item" style="background-image: url('https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg');border-radius: 50%;">
          <small class="iconCss pt-1 ml-1">
            You
          </small>
        </div>
        <div class="cover-item" style="background-image: url('https://demos.creative-tim.com/argon-dashboard-pro/assets/img/theme/team-4.jpg');border-radius: 50%;">
          <small class="iconCss pt-1">
            Demo
          </small>
        </div>
        <div class="cover-item" style="background-image: url('https://demos.creative-tim.com/argon-dashboard-pro/assets/img/theme/team-3.jpg');border-radius: 50%;">
          <small class="iconCss pt-1">
            Demo
          </small>
        </div>
        <div class="cover-item" style="background-image: url('https://demos.creative-tim.com/argon-dashboard-pro/assets/img/theme/team-2.jpg');border-radius: 50%;">
          <small class="iconCss pt-1">
            Demo
          </small>
        </div>
        <div class="cover-item" style="background-image: url('https://demos.creative-tim.com/argon-dashboard-pro/assets/img/theme/team-1.jpg');border-radius: 50%;">
          <small class="iconCss pt-1">
            Demo
          </small>
        </div>
        <div class="cover-item" style="background-image: url('https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg');border-radius: 50%;">
          <small class="iconCss pt-1">
            Demo
          </small>
        </div>
        <div class="cover-item" style="background-image: url('https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg');border-radius: 50%;">
          <small class="iconCss pt-1">
            Demo
          </small>
        </div>
        <div class="cover-item" style="background-image: url('https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg');border-radius: 50%;">
          <small class="iconCss pt-1">
            Demo
          </small>
        </div>
        <div class="cover-item" style="background-image: url('https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg');border-radius: 50%;">
          <small class="iconCss pt-1">
            Demo
          </small>
        </div>
        <div class="cover-item" style="background-image: url('https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg');border-radius: 50%;">
          <small class="iconCss pt-1">
            Demo
          </small>
        </div>
        <!-- END PANEL -->
      </div>
    </div>
  </div>


</div>
