<app-stories></app-stories>
<hr class="hrCss">
<div class="bg-dark">
  <div *ngFor="let post of myPost; let i=index" style="position: relative">
    <div class="pl-2">
      <img class="cover-item" [src]="post.imgUri"
           style="border-radius: 50%;width: 35px;height: 35px;" alt="">
      <small class="text-white mt-2" style="position: absolute;font-size: 11px;"> {{ post.userName}}</small>
      <small class="text-white"
             style="position: absolute; top: 5px; font-size: 16px; color: #d2cfcf !important;left: 335px;"><i
        class="fa fa-ellipsis-h fa-rotate-90" aria-hidden="true"></i>
      </small>
      <small class="text-white"
             style="position: absolute;top: 22px;font-size: 11px;color: #d2cfcf !important;">{{post.location}}</small>
    </div>
    <div>
      <div class="text-center" *ngIf="post.likedImage" style="
    position: absolute;
    top: 40%;
    left: 40%;
"><i class="text-white fa fa-heart fa-5x imgShadow"></i></div>
      <img class="img-fluid doubleClick" [src]="post.mainImgUrl" alt="" (dblclick)="likePost(i)"
           style="width: -moz-available;width: -webkit-fill-available">
    </div>
    <div>

      <div class="">

        <i class="text-white ml-2" [ngClass]="post.likeClass" (click)="likedPost(i)"></i>

        <i class="fa fa-comment-o text-white ml-2"></i>

        <i class="fa fa-paper-plane-o text-white ml-2"></i>
        <i class="fa fa-bookmark-o text-white ml-2 pull-right mr-3 mt-1"></i>

      </div>
      <div>
        <small class="text-white pl-2"> {{post.likes}} likes</small>
      </div>
    </div>
  </div>
  </div>
